<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AttendanceWarden</title>
	<meta name="description" content="AttendanceWarden, The Ultimate Attendance taking WebApp" />
	<meta name="keywords" content="AttendanceWarden, Attendance, school , Roll No., Attendance Register, College" />
	<meta name="author" content="Nishkarsh Dubb" />

	<!-- Favicons (created with http://realfavicongenerator.net/)-->

	<link rel="shortcut icon" href="img/favicons/favicon.png">

	

	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="css/owl.css">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="fonts/eleganticons/et-icons.css">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="css/cardio.css">
</head>

<body>
	<div class="preloader">
		<img src="img/loader.gif" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#intro"><img src="img/logo.png" data-active-url="img/logo-active.png" alt="" width="50px" height="42px" style="border-radius: 10%"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
					<li><a href="#intro">Intro</a></li>
					<li><a href="#features">Why use AttendanceWarden?</a></li>
					<li><a href="#login" >Login / Sign Up</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white"> AttendanceWarden.</h3>
							<h1 class="white typed">The Ultimate Attendance tracking WebApp</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section id="features" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Features</h2>
				<br>
				<h4 class="light muted">A Simple App that makes tracking Attendance simple. </h4>
			</div>
			<div class="col-md-4">
				<div class="service">
					<div class="icon-holder">
						<img src="img/icons/report.png" alt="" class="icon">
					</div>
					<h4 class="heading">Reduce Repetitive, Manual Tasks</h4>
					<p class="description">Spend less time on repetitive manual tasks like data entry and focus on the job that really matters, teaching. </p>
				</div>
			</div>

				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="img/icons/tick.png" alt="" class="icon">
						</div>
						<h4 class="heading">Mark Attendance at Anytime from Anywhere</h4>
						<p class="description">With AttendanceWarden you can easily mark Attendances no matter where you are or what time it is...</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="img/icons/history.png" alt="" class="icon">
						</div>
						<h4 class="heading">Keep history of all your Attendances</h4>
						<p class="description">AttendanceWarden keeps history of all your Attendances without any need of access to external storage.</p>
					</div>
				</div>
			
			
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section class="section section-padded blue-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="owl-twitter owl-carousel">
						<div class="item text-center">
							<i class="icon fa fa-quote-left "></i>
							<h4 class="white light">Value your time.<br></h4>
							<h4 class="light-white light">-Seneca</h4>
						</div>
						<div class="item text-center">
							<i class="icon fa fa-quote-left "></i>
							<h4 class="white light">Smart work pays best.Trust it.</h4>
							<h4 class="light-white light">-Conor McGregor</h4>
						</div>
						<div class="item text-center">
							<i class="icon fa fa-quote-left "></i>
							<h4 class="white light">All change is hard at first, messy in the middle, and so gorgeous at the end.</h4>
							<h4 class="light-white light">- Robin Sharma</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="login" class="section" style="text-align: center;">
		<div class="container layer">
			<div class="row title text-center" style="text-align: center;">
				<h2 class="margin-top white">Login or Sign Up</h2><br>
				<h4 class="light white">Login to your AttendanceWarden Account or simply just create one...</h4>
			</div>
			<div class="row no-margin">
				<div class="col-md-7 no-padding col-md-offset-5 pricings text-center">
					<div class="pricing">
						<div class="box-main active" data-img="img/pricing1.jpg" style="text-align: center;">
							<h4 class="white" style="text-align: center;">Login to your Account</h4>
							
							<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-white-fill">Login Now</a>
							<i class="info-icon icon_question"></i>
						</div>
						<div class="box-second active">
							<ul class="white-list text-left">
								<li>Welcome back to AttendanceWarden. Login to check out your Attendance Records and Resume the work of tracking Attendance.</li>
								
							
							</ul>
						</div>
					</div>
					<div class="pricing">
						<div class="box-main" data-img="img/pricing2.jpg" style="text-align: center;">
							<h4 class="white" style="text-align: center;">Create an Account</h4>
							<a href="#" data-toggle="modal" data-target="#modal2" class="btn btn-white-fill">Sign Up Now</a>
							<i class="info-icon icon_question"></i>
						</div>
						<div class="box-second">
							<ul class="white-list text-left">
								<li>Join AttendanceWarden! Sign up to easily track Attendances, keep history of all your Attendances and review Attendance reports of students at anytime from anywhere.</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<h3 class="white">Login</h3>
				<form action="/login" class="popup-form" method="post">
					<input type="text" class="form-control form-white" placeholder="User Name" name="username">
					<input type="password" class="form-control form-white" placeholder="Password" name="password">
					<button type="submit" class="btn btn-submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<h3 class="white">Sign Up</h3>
				<form action="/signup" class="popup-form"  method="post">
					<input type="text" class="form-control form-white" placeholder="User Name" name="username">
					<input type="text" class="form-control form-white" placeholder="Email Address" name="email">
					<input type="password" class="form-control form-white" placeholder="Password" name="password">
					<button type="submit" class="btn btn-submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<footer if="#footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Create your Account Now!</h3>
					<h5 class="light regular light-white">Join AttendanceWarden! The Ultimate Attendance tracking WebApp.</h5>
					<a  class="btn btn-blue ripple trial-button" data-toggle="modal" data-target="#modal2">Sign Up</a>
				</div>
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">About the Developer</h3>
					<h5 class="light regular light-white"> Developed by  <a href="http://nishkarshdubb-fullstack.herokuapp.com/">Nishkarsh Dubb</a> and <a href="https://github.com/ShivangiiSharma">Shivangi Sharma</a></h5>
			
				</div>
			</div>
			<div class="row bottom-footer text-center-mobile">
				<div class="col-sm-8">
					<p>&copy; Copyright ©2020 All rights reserved | <a href="http://nishkarshdubb-fullstack.herokuapp.com/">Nishkarsh Dubb- Full Stack</a></p>
				</div>
				
			</div>
		</div>
	</footer>
	<%-include('partials/footer') -%>