<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Has been Created</title>
	<meta name="description" content="AttendanceWarden, The Ultimate Attendance taking WebApp" />
	<meta name="keywords" content="AttendanceWarden, Attendance, school , Roll No., Attendance Register, College" />
	<meta name="author" content="Nishkarsh Dubb" />

	<!-- Favicons (created with http://realfavicongenerator.net/)-->

	<link rel="shortcut icon" href="img/favicons/favicon.png">

	

	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="css/owl.css">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="fonts/eleganticons/et-icons.css">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="css/cardio.css">
</head>

<body>
	<div class="preloader">
		<img src="img/loader.gif" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="img/logo.png" data-active-url="img/logo-active.png" alt="" width="50px" height="42px" style="border-radius: 10%"></a>

		</div>
		<!-- /.container-fluid -->
	</nav>
	<header id="intro" class="success">
		<div class="container layer1">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white"> Done!</h3>
							<h1 class="white typed">Your Attendance Record has been created.</h1>
                            <span class="typed-cursor">|</span> <br> <br>
                            <a href="../"class="btn btn-blue" style="margin-right: 10px;">Home</a>
                           <a href="../#login"class="btn btn-blue">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
    </header>
    	
	<%-include('partials/footer') -%>